*,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(237, 231, 231); */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(92, 57, 57);
}

.keys {
  display: flex;
  justify-content: center;
  width: 80vw;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  width: 70px;
  height: 280px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 0 0 5px 5px;
}

.black {
  width: 30px;
  height: 160px;
  background-color: #000;
  border: 1px solid #333;
  border-radius: 0 0 5px 5px;
  margin-left: -15px;
  margin-right: -15px;
  z-index: 2;
}

.black:hover {
  background-color: rgb(42, 41, 41);
  cursor: pointer;
}

.white:hover {
  background-color: rgb(211, 203, 203);
  cursor: pointer;
}
